.row {
    height: 40px;
    padding: 0;

}
.mainRow {
    composes: row;
    background-color: teal;
    color: white;
}
.cell {
    width: 150px;
    text-align: center;
}
.mainCell {
    composes: cell;
    
}